<div id="email-example" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ 'block.email.title'|trans }}</h3>
    </div>
    <div class="modal-body">
        {{ 'block.email.content'|trans|raw }}
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">{{ 'block.email.close_btn'|trans }}</a>
    </div>
</div>