{% extends "layout/base.twig" %}

{% block content %}
    <div class="row">
        <div class="span6">
            <h2><i class="icon-envelope"></i> Contact Us</h2>
            <p class="lead"></p>
            <iframe src="http://www.freeformz.net/form/rmv3Gu2/-vJpENQCE-" width="500px" height="280px" frameborder="0"></iframe>
        </div>
    </div>
{% endblock %}