{% extends "layout/base.twig" %}

{% block footer_js %}
{% endblock %}

{% block content %}
    <h2>Team Submit</h2>
    <form action="{{ path('team_submit') }}" method="post">
        {{ form_widget(form) }}

        <input class="btn btn-inverse" type="submit" name="submit" />
    </form>
{% endblock %}